.full-width {
	width: 100%;
}

.autocomplete-menu {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cccccc;
	background-color: #ffffff;
}

.autocomplete-item {
	padding: 2px 6px;
	cursor: default;
}

.autocomplete-item-highlighted{
	color: white;
	background-color: #4095bf;
}
