.investment-transaction {
	display: flex;
	height: 50vh;
	font-size: .9rem;
	text-align: center;
}

.investment-transaction .header {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.investment-transaction .row {

}
