.investment-transaction {
	display: flex;
	height: 80vh;
	font-size: .9em;
	text-align: center;
}

@media (max-width: 768px) {
	.investment-transaction {
		font-size: .6em;
	}
}

.investment-transaction .header {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.investment-transaction .row {

}
